<div class="timetable-wrapper">
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/south-korea.png">{{ koreaTime | amDateFormat: 'yyyy.MM.DD HH:mm:ss' }}
    </div>
  </div>
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021.07.25 (SUN)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:10%">
        <col style="width:60%">
        <col style="width:30%">
      </colgroup>
      <thead>
        <tr>
          <th class="time" #th1>
            시간
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goVod()">
            </div>
          </th>
          <th class="time" #th2>
            세션/강좌
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goVod()">
            </div>
          </th>
          <th #th3>
            연자
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goVod()">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="cmcendo-session" colspan="3">Session 1: 쉬운 것 같지만 어려운 당뇨병 관리</td>
        </tr>

        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>처음 만난 당뇨병환자에서 꼭 확인해야 할 사항들, 이것만은 기억합시다</td>
          <td>권혁상(가톨릭의대 내분비내과)</td>
        </tr>

        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>경구 약제에 실패한 2형 당뇨병 환자: 약 추가 vs. 주사제 (GLP-1 수용체 작용제, 인슐린)</td>
          <td>이은영(가톨릭의대 내분비내과)</td>
        </tr>

        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>각종 시술 및 수술 전후 당뇨병 약제 중단 혹은 인슐린 처방은 어떻게?</td>
          <td>이승환(가톨릭의대 내분비내과)</td>
        </tr>

        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>인공 췌장 어디까지 왔나: 인슐린펌프와 연속혈당측정</td>
          <td>김재현(성균관의대 내분비내과)</td>
        </tr>

        <tr>
          <td class="cmcendo-session" colspan="3">Session 2: 알면 알수록 어려운 골다공증 치료</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>골다공증 진료, 이것만은 꼭 챙기자 </td>
          <td>백기현(가톨릭의대 내분비내과)</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>비스포스포네이트의 재발견: 두려움 없이 처방하기</td>
          <td>한제호(가톨릭의대 내분비내과)</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>상황에 따른 골다공증 약제 처방 총정리</td>
          <td>하정훈(가톨릭의대 내분비내과)</td>
        </tr>
        <tr>
          <td class="cmcendo-session" colspan="3">Session 3: 늘 헷갈리는 갑상선질환의 진단과 치료</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>임신 중 발견된 갑상선 기능이상: 언제 치료하고 어떻게 관리할 것인가?</td>
          <td>임동준(가톨릭의대 내분비내과)</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>갑상선암 수술 후 추적 관찰 시 주의해야 할 것들</td>
          <td>김민희(가톨릭의대 내분비내과)</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>양성 갑상선 결절의 비수술적 치료</td>
          <td>정소령(가톨릭의대 영상의학과)</td>
        </tr>
        <tr>
          <td class="cmcendo-session" colspan="3">Session 4: 내분비질환 전문가로 거듭나기</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>진료실에서 쉽게 할 수 있는 남성호르몬 치료 따라잡기</td>
          <td>이동섭(가톨릭의대 비뇨기과)</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">25분</td>
          <td>지방간 (NAFLD/NASH)의 진단과 치료는 어떻게?</td>
          <td>송명준(가톨릭의대 소화기내과)</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">30분</td>
          <td>장기간 사용 가능한 비만 약제 상황 별 총정리</td>
          <td>김미경(가톨릭의대 내분비내과)</td>
        </tr>
        <tr>
          <td class="text-center font-weight-bold">30분</td>
          <td>최신 진료 지침에 따른 이상지질혈증 치료: 무엇이 달라졌나?</td>
          <td>김성래(가톨릭의대 내분비내과)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
