/* shine 애니메이션 */
@keyframes shineAnimation {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top left,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.0) 45%,
        rgba(255, 255, 255, 0.5) 48%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0.5) 52%,
        rgba(255, 255, 255, 0.0) 57%,
        rgba(255, 255, 255, 0.0) 100%);
    background-position: -300px -300px;
    background-size: 600px 600px
  }

  to {
    background-repeat: no-repeat;
    background-position: 300px 300px;
  }
}

/* twinkle */
@keyframes twinkle {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

/* slide x축 */
@keyframes slideX {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.content-inner {
  &.vod {
    padding-top: 60px;
  }
}

.title-wrapper {
  h2 {
    &.live {
      color: var(--yellow2);
    }

    &.vod {
      color: var(--blue2);
    }

    span.vod-title-label {
      display: inline-block;
      margin-left: 24px;
      padding: 6px 16px;
      color: var(--red);
      font-size: 1.33rem;
      font-weight: 800;
      line-height: 1;
      border-radius: 7px;
      background: var(--yellow1);
      animation: shineAnimation 5s 4.5s infinite;
      -webkit-animation: shineAnimation 5s 1.5s infinite;
      animation-timing-function: cubic-bezier(.12, .89, .98, .47);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
    }
  }
}

.sub-title-wrapper {
  padding-bottom: 40px;

  .download {
    padding: 8px 16px;
    font-size: 1.2rem;
    background: var(--blue6);
    border-width: 0;
    border-radius: 8px;
    color: var(--white);
    margin-left: 16px;

    /* 책 아이콘 */
    .icon-book {
      display: inline-block;
      width: 22px;
      height: 16px;
      margin-right: 8px;
      background-image: url(/assets/img/icon-book.png);
      background-size: contain;
      vertical-align: middle;
    }

    /* 다운로드 아이콘 */
    .icon-download {
      padding-left: 16px;
      font-size: 1.4rem;

      &:before {
        color: var(--white);
      }
    }
  }

  place-content:center;
}

.icon-warning {
  display: inline-block;
  width: 35px;
  height: 31px;
  margin-right: 8px;
  background-image: url(/assets/img/icon-warning.png);
  background-size: contain;
  vertical-align: middle;
  animation: twinkle 1s infinite;
  -webkit-animation: twinkle 1s infinite;
  //animation: movement 1s ease 0s infinite alternate;
  //-webkit-animation: movement 1s ease 0s infinite alternate;
}

.slideX {
  animation: slideX 1s ease-in infinite;
  -webkit-animation: slideX 1s ease-in infinite;
}

.program-wrapper {
  padding: 24px 72px;

  .vod-table {
    width: 100%;

    th,
    td {
      padding: 8px;
      border-bottom: 1px solid var(--gray1);
    }

    thead th {
      background: var(--navy2);
      color: var(--white);
      text-align: center;
    }

    tbody td:nth-child(1) {
      background: var(--blue7);
      color: var(--white);
      font-size: 1.33rem;
      text-align: center;
    }

    tbody td:nth-child(2) {
      background: var(--white);
      color: var(--black);
      font-size: 1.08rem;

    }


    tbody tr:hover {
      cursor: pointer;

      td {
        color: var(--black);
        background: rgba(0, 0, 0, 0.1);
        transition: all 0.5s;
      }
    }


  }
}

@media(max-width: 767px) {
  .title-wrapper .vod {
    .vod-title-label {
      width: 100%;
      margin-top: 8px;
      margin-left: 0;
      text-align: center;
    }
  }

  .program-wrapper {
    padding: 8px 12px;
  }
}

@media(max-width: 575px) {
  .title-wrapper {
    h2 {
      span.vod-title-label {
        margin-left: 0;
        margin-top: 8px;
        // font-size: 1.1rem;
      }
    }
  }

  .program-wrapper {
    padding: 0px;
    background: transparent;
    border: none;
  }
}
