.player-wrapper {
  display: flex;

  .left-wrapper {
    position: relative;
    width: 70%;
    background: var(--black);

    .player {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 460px;
    }
  }

  .right-wrapper {
    margin-left: 16px;
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    min-height: 460px;
    border: 1px solid var(--gray22);

    .ad {
      .banners-wrapper {
        position: relative;
        padding: 0 34px;
        background: var(--white);

        .banners-btn {
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 34px;
          height: 100%;
          background: #EAEAEA;

          &.banners-prev {
            left: 0;

            img {
              transform: rotate(-90deg);
            }
          }

          &.banners-next {
            right: 0;

            img {
              transform: rotate(90deg);
            }
          }
        }

        ng-image-slider {
          display: flex;

          .ng-image-slider {
            .ng-image-slider-container .main .img-div {
              position: relative;
              padding: 0 8px;
              box-shadow: none;
              border-radius: 0;
              cursor: pointer;

              img {
                max-width: 80%;
                max-height: 80%;
                border-radius: 0;
                // max-height: 40px ;
              }

              &::before {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto 0;
                width: 1px;
                height: 14px;
                border: 1px solid #E2E2E2;
                box-sizing: border-box;
                content: '';
              }
            }
          }
        }
      }

      .ad-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90px;
        background: var(--white);
        cursor: default;

        img {
          width: auto;
          height: auto;
          max-width: 80%;
          max-height: 80%;
        }
      }
    }

    .reply {
      display: flex;
      flex: 1;
      flex-direction: column;

      .reply-header {
        width: 100%;
        height: 56px;
        padding: 0 8px;
        font-size: 1.4rem;
        font-weight: 500;
        background: var(--gray2);
        line-height: 56px;

        a {
          display: inline-block;
          // max-width: 179px;
          // width: calc(50% - 7px);
          width: 100%;
          margin-left: 7px;
          color: var(--gray19);
          background: var(--gray21);
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          text-align: center;
          line-height: 40px;

          &:first-child {
            margin-left: 0;
          }

          &.active {
            color: var(--white);
            background: var(--blue9);
          }

          &:hover {
            color: var(--white);
            background: var(--blue4);
          }
        }
      }

      .reply-list {
        overflow-y: scroll;
        position: relative;
        flex: 1;
        background: var(--white);

        .reply-history {
          overflow-x: hidden;
          overflow-y: auto;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 16px;

          .reply-item {
            display: flex;
            margin-bottom: 8px;

            .reply-user {
              width: 84px;
              margin-right: 16px;
              font-size: 12px;
              color: var(--gray25);
              word-break: break-all;
            }

            .reply-content {
              flex: 1;
              width: 100px;
              font-size: 12px;
              word-wrap: break-word;

              .reply-delete {
                font-size: 10px;
                color: rgb(226, 142, 142)
              }
            }
          }
        }
      }

      .reply-form {
        padding: 8px 16px;
        background: var(--gray7);

        label {
          font-size: 1.2rem;
        }

        input {
          padding-left: 0;
          padding-right: 0;
          border: none;
          background: none;

          &::placeholder {
            color: var(--gray24);
          }
        }

        hr {
          margin-top: 2px;
        }

        >div {
          font-size: 1rem;
          color: var(--gray7);

          .btn-send {
            margin-left: 16px;
            color: var(--black);
            background: var(--gray2);
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  // .player-wrapper {
  //   .player {
  //     flex-direction: column;
  //     min-height: auto;
  //   }
  // }

  .player-wrapper {
    flex-direction: column;

    .left-wrapper,
    .right-wrapper {
      width: 100%;
      min-width: 100%;
      margin-left: 0;

      .reply {
        .reply-header {
          a {
            width: 100%;
            // max-width: 50%;
          }
        }
      }
    }

    .right-wrapper {
      min-height: 260px;
    }

    .left-wrapper {
      .player {
        min-height: 230px;
      }
    }
  }
}
