<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="my-page-wrapper">
        <div class="title-wrapper">
          <h2>My Page</h2>
          <a (click)="logout()" class="login-status">Logout</a>
        </div>
        <article>
          <div class="my-page-inner personal-information">
            <h3>Personal information</h3>
            <div class="info-wrapper">
              <div class="info-inner">
                <span class="info-title">Name</span>
                <p class="info-desc">{{user.name}}</p>
              </div>
              <!-- <div class="info-inner">
                <span class="info-title">Password</span>
                <p class="info-desc">
                  <a class="email-change" data-toggle="modal" data-target="#changePassword">
                    비밀번호 변경하기
                  </a>
                </p>
              </div> -->
              <div class="info-inner">
                <span class="info-title">E-mail</span>
                <p class="info-desc">{{user.email}}</p>
              </div>
              <div class="info-inner" *ngIf="user.phone">
                <span class="info-title">Phone Number</span>
                <p class="info-desc">{{user.phone}}</p>
              </div>
              <div class="info-inner" *ngIf="user.organization">
                <span class="info-title">Organization</span>
                <p class="info-desc">{{user.organization}}</p>
              </div>
              <div class="info-inner" *ngIf="user.dept">
                <span class="info-title">Div./Dept.</span>
                <p class="info-desc">{{user.dept}}</p>
              </div>
              <div class="info-inner" *ngIf="user.position">
                <span class="info-title">Position</span>
                <p class="info-desc">{{user.position}}</p>
              </div>
              <!-- <div class="info-inner" *ngIf="user.title">
                <span class="info-title">Title</span>
                <p class="info-desc">{{user.title}}</p>
              </div> -->
              <div class="info-inner" *ngIf="user.country">
                <span class="info-title">Country</span>
                <p class="info-desc">{{user.country}}</p>
              </div>
              <div class="info-inner" *ngIf="user.address">
                <span class="info-title">Address</span>
                <p class="info-desc">{{user.address}}</p>
              </div>
            </div>
          </div>

          <!-- <div class="my-page-inner viewing-record" *ngIf="user.isLog">
            <div class="title-wrapper">
              <h3>강의별 시청시간</h3>
              <span class="item-time-total">시청 합계 :
                {{hour}}h {{min}}m
              </span>
            </div>
            <div class="item-live" *ngFor="let history of histories">
              <div class="into-inner">
                <p class="item-title" (click)="historyDetail(history)" data-toggle="modal" data-target="#historyDetail">
                  {{history.title}}
                </p>
                <p class="item-time">
                  Time : {{ history.watchTime }}m
                </p>
              </div>
            </div>
          </div> -->

          <!-- ! VOD 시청시간 -->
          <div class="my-page-inner viewing-record" *ngIf="user.isLog">
            <div class="title-wrapper">
              <h3>VOD 시청기록</h3>
              <!-- <span class="item-time-total">시청 합계:
                {{hourOfVod}}h {{minOfVod}}m {{secOfVod}}s
              </span> -->
            </div>
            <button class="btn-primary"
              (click)="isShowVodHistory = !isShowVodHistory">{{isShowVodHistory?"숨기기":"보이기"}}</button>

            <ng-container *ngIf="isShowVodHistory">
              <div class="item-vod" *ngFor="let vod of historiesOfVod">
                <!-- <span class="title-time">
                {{ vod.watchTime === '00:00'?'00m 00s':(vod.watchTime | date: "mm'm' ss's''" ) }}
              </span> -->
                <div class="into-inner">
                  <p class="item-title">
                    {{vod.title}}
                  </p>
                  <span class="item-time">
                    <!-- In : {{vod.firstView}} -->
                    <span *ngIf="vod.isFinished" class="is-finished">완강</span>
                    <span *ngIf="!vod.isFinished && vod.watchTime === '00:00'" class="not-watched">미시청</span>
                    <span *ngIf="!vod.isFinished && vod.watchTime !== '00:00'" class="is-viewed">
                      수강중
                    </span>
                  </span>
                  <!-- <span class="item-time">
                    Time : {{ vod.watchTime === '00:00'?'00m':(vod.watchTime | date: "mm'm'"   ) }}
                  </span> -->
                </div>
              </div>
            </ng-container>
          </div>

          <!-- ! 퀴즈 히스토리 -->
          <div class="my-page-inner viewing-record" *ngIf="user.isLog && quizHistory">
            <div class="title-wrapper">
              <h3>QUIZ HISTORY</h3>
              <span class="item-time-total">합계:
                {{quizHistory.myVodScore}} / {{quizHistory.vodTotalScore}}
              </span>
            </div>
            <button class="btn-primary"
              (click)="isShowVodQuizHistory = !isShowVodQuizHistory">{{isShowVodQuizHistory?"숨기기":"보이기"}}</button>

            <ng-container *ngIf="isShowVodQuizHistory">
              <div class="item-vod-quiz" *ngFor="let vod of quizHistory.vod">
                <div class="into-inner">
                  <p class="item-title">
                    {{vod.vodTitle}}
                  </p>

                  <div *ngIf="vod.isCompleted; else NotCompleted">
                    <div *ngFor="let quiz of vod.vodQuizResultList; let i = index">
                      <div>
                        [Q. {{i+1}}] <span style="display:inline-block" [innerHTML]="quiz.quizTitle"></span> ({{quiz.score}})
                      </div>
                      <div class="my-answer-correct">
                        <div>제출: <b
                            [ngStyle]="{'color': quiz.isCorrect?'#3cbd3c':'red'}">{{quiz.quizContent[quiz.myAnswer].title }}</b>
                        </div>
                        <div>정답: {{quiz.corrects}}</div>
                      </div>

                    </div>
                  </div>
                  <ng-template #NotCompleted>
                    <div class="not-completed">미제출</div>
                  </ng-template>
                </div>
              </div>
            </ng-container>
          </div>


          <!-- <div class="my-page-inner stamp-tour" *ngIf="user.isLog">
            <h3>Sponsors - Stamp Tour</h3>
            <div class="info-inner">
              <div class="stamp-list row m-0">
                <ng-container *ngFor="let booth of booths">
                  <div class="stamp-item px-1" [ngClass]="{'opacity': booth.visit, 'visited':booth.visit}">
                    <img class="spon-logo" [ngClass]="{'opacity': booth.visit}" [src]="booth.photoUrl"
                      [alt]="booth.name">
                    <img *ngIf="booth.visit" class="stamp_back" src="assets/img/stamp_back.png">
                    <img *ngIf="booth.visit" class="stamp-icon" src="assets/img/stamp.png" alt="스템프이미지">
                  </div>
                </ng-container>
              </div>
            </div>
          </div> -->
        </article>
      </div>
    </div>
  </div>
</div>

<!-- 비밀번호 변경 -->
<div class="modal changePassword fade" id="changePassword" data-backdrop="static" role="dialog"
  aria-labelledby="changePassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          비밀번호 변경
        </div>
        <div class="modal-description">
          <p>
            변경할 비밀번호를 입력해 주세요.
          </p>
        </div>
        <div class="input-form">
          <label for="password-new">새로운 비밀번호</label>
          <input type="password" id="password-new" [(ngModel)]="PASSWORD_NEW">
        </div>

        <div class="input-form">
          <label for="password-new-confirm">새로운 비밀번호 확인</label>
          <input type="password" id="password-new-confirm" [(ngModel)]="PASSWORD_CONFIRM">
        </div>

        <div class="submit-button">
          <button type="button" class="btn btn-block confirm-btn" (click)="changePassword()">
            비밀번호 변경
          </button>
          <button class="cancel" data-toggle="modal" data-target="#changePassword" (click)="cancelChangePwd()">
            취소
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 시청이력 팝업 -->
<!-- <div class="modal historyDetail fade" id="historyDetail" data-backdrop="static" role="dialog"
  aria-labelledby="historyDetail" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <div class="modal-title-text">
            시청기록
          </div>
          <div class="modal-close" data-toggle="modal" data-target="#historyDetail">
          </div>
        </div>
        <div class="modal-description">
          <div class="item-time-wrapper" *ngFor="let log of selectedHistory">
            <div class="item-time">
              In: {{log.in}} ~ Out: {{log.out}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
