.title-wrapper {
  position: relative;
  padding-right: 80px;

  & .login-status {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    color: var(--red);
    line-height: 2.8;
  }
}

.stamp-info {
  color: red;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: 16px;
  padding: 0;
  font-size: 1.5rem;
  color: var(--gray16);
  font-weight: bold;
}

.info-inner {
  position: relative;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.info-title,
.info-desc {
  font-size: 1.33rem;

}

.info-title {
  color: var(--gray16);
}

.info-desc {
  color: var(--gray18);
  word-break: break-all;
}

.my-page-inner {
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid var(--gray22);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: var(--white);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;

  &.personal-information {
    padding: 16px 16px 8px;

    .info-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .info-inner {

      flex-basis: 70%;
      margin-bottom: 0;

      &:nth-child(odd) {
        flex-basis: 21.5%;

        .info-desc {
          min-width: 250px;
          padding-right: 54px;
        }
      }
    }

    .info-title {
      font-weight: bold;
      color: var(--gray16);
    }

    .info-desc {
      // min-width: 212px;
      // padding-right: 8px;
      margin-bottom: 8px;
    }

    .email-change {
      color: var(--gray18);
      text-decoration: underline;
    }
  }

  &.attendance {
    color: var(--gray16);

    .info-inner {
      margin-bottom: 0;
    }

    .info-title,
    .info-desc {
      display: inline-block;
    }

    .info-title {
      min-width: 147px;
      padding-right: 16px;
      color: var(--gray16);
      text-align: left;
    }

    .info-desc {
      width: 40%;
      color: var(--blue5);
      font-weight: bold;
      text-align: left;

      &.not {
        color: var(--red);
      }
    }
  }

  &.viewing-record {

    .title-wrapper {
      margin: 0;
      border: none;

    }

    h3 {
      display: inline-block;
      position: relative;
      margin-right: 16px;
    }

    .info {
      display: inline-block;
      padding: 10px 20px;
      font-size: 1.16rem;
      color: var(--red);
      font-weight: 800;
      line-height: 1;
      border-radius: 22px;
      background: var(--yellow2);

    }

    .item-time-total {
      display: inline-block;
      position: absolute;
      right: 8px;
      font-size: 1.5rem;
      color: var(--blue9);
      font-weight: bold;
    }

    span {
      display: block;
      margin-bottom: 4px;
      color: var(--gray12);

      &.item-quiz {
        color: black;
      }

      &.is-finished {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-weight: 600;
        color: green;
      }

      &.is-viewed {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-weight: 600;
        color: blue;
      }

      &.not-watched {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-weight: 600;
        color: red;
      }
    }

    .item-vod {
      position: relative;
      height: 112px;
      margin-top: 16px;
      margin-bottom: 32px;
      padding: 8px;
      font-size: 1.33rem;
      border: 1px solid var(--gray22);

      >p {
        margin-bottom: 6px;
        word-break: break-all;
      }

      .item-title {
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
    }

    .item-vod-quiz {
      position: relative;
      height: auto;
      margin-top: 16px;
      margin-bottom: 32px;
      padding: 8px;
      font-size: 1.33rem;
      border: 1px solid var(--gray22);

      >p {
        margin-bottom: 6px;
        word-break: break-all;
      }

      .item-title {
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      .not-completed {
        color: var(--red);
      }

      .my-answer-correct {
        display: flex;
        justify-content: space-between;
      }
    }

    .item-live {
      @extend.item-vod;

      display: block;
      height: auto;
      margin: 0 0 8px;
      padding-left: 18px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .into-inner {
        display: flex;
        justify-content: space-between;

        .item-title {
          width: 75%;
        }

        .item-time {
          color: var(--blue9);
        }
      }
    }
  }
}


.stamp-tour {
  padding-bottom: 0;

  .stamp-item {
    display: flex;
    position: relative;
    flex: 0 0 19%;
    justify-content: center;
    align-items: center;
    max-width: 19%;
    height: 15vh;
    margin: 0 0.5%;
    margin-bottom: 16px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    border: 1px solid #ddd;

    &.visited {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .stamp-item {
      img {
        width: 90%;
      }
    }

    .stamp-logo {
      position: absolute;
      // width: auto;
      // height: auto;
      ;
    }



    .spon-logo {
      position: absolute;
      max-width: 100%;
      max-height: 100%;

      &.opacity {
        opacity: 0.5;
      }
    }

    .stamp-icon {
      position: absolute;
      max-width: 90%;
      max-height: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // max-width: 90%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }

    .stamp_back {
      position: absolute;
      left: 0;
      max-width: 100%;
      max-height: 100%;
    }
  }
}



.changePassword {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 16px;
    width: 740px;
    max-width: 100%;

    .modal-title {
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid black;
    }

    .modal-description {
      padding: 16px 0;

      p {
        text-align: center;
        font-size: 1.4rem;
      }
    }

    .input-form {
      display: flex;
      flex-direction: column;
      color: var(--gray16);

      label {
        padding-left: 8px;
        font-size: 16px;
        font-weight: bold;
      }

      input {
        align-self: center;
        font-size: 16px;
        padding-left: 8px;
        width: 450px;
        max-width: 100%;
        height: 40px;
        border: none;
        background-color: var(--gray7);
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--gray7) inset;
      }

      input:focus {
        outline: 1px solid var(--gray16);
      }

      margin-bottom:24px;
    }

    .submit-button {
      display: flex;
      flex-direction: column;
      align-items: center;

      .confirm-btn {
        width: 250px;
        height: 50px;
        margin-bottom: 16px;
        color: var(--white);
        font-size: 1.0rem;
        font-weight: 600;
        border-radius: 25px;
        background: var(--gray27);
      }

      .cancel {
        color: var(--red);
      }
    }
  }
}

.historyDetail {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 16px;
    width: 740px;
    max-width: 100%;

    .modal-title {
      font-size: 1.55rem;
      padding-bottom: 8px;

      display: flex;
      justify-content: space-between;

      .modal-close {
        height: 21px;
        width: 21px;

        // 여러개 배경이미지 IE8 이상
        background:
          url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="gray" /></svg>'),
          url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');
      }
    }

    .modal-description {
      padding: 8px 16px;
      border: 1px solid var(--gray30);
      max-height: 267px;
      overflow-y: scroll;
    }
  }
}

@media screen and (max-width : 1280px) {
  .stamp-tour {
    .stamp-item {
      height: 120px;
    }
  }
}

@media screen and (max-width : 768px) {
  .my-page-inner.viewing-record {

    .title-wrapper {
      padding-right: 0;
    }

    .info {
      display: block;
      text-align: center;
    }
  }

  .stamp-tour {
    .stamp-item {
      flex: 0 0 24%;
      max-width: 24%;
    }
  }
}

@media screen and (max-width : 575px) {
  .title-wrapper {
    padding-right: 0;
  }

  .my-page-inner.attendance {

    .info-title {
      width: 58%;
    }

    .info-desc {
      width: 40%;
      text-align: right;
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
    }
  }

  .my-page-inner.viewing-record {
    .item-live {
      .into-inner {
        display: flex;
        justify-content: space-between;

        .item-title {
          width: 60%;
        }

        .item-time {
          color: var(--blue9);
        }
      }
    }

    .item-time-total {
      font-size: 1.25rem;
    }

    .stamp-tour {

      .stamp-item {
        flex: 0 0 32.33%;
        max-width: 32.33%;
      }
    }
  }

}

@media screen and (max-width : 360px) {
  .stamp-tour {

    .stamp-item {
      flex: 0 0 100%;
      max-width: 100%;
      height: 160px;
    }
  }

  .my-page-inner.viewing-record {
    .item-live {
      .into-inner {
        display: flex;
        justify-content: space-between;

        .item-title {
          width: 60%;
          font-size: 1.1rem;
        }

        .item-time {
          font-size: 1.1rem;
          color: var(--blue9);
        }
      }
    }

    .title-wrapper {
      display: flex;
      flex-direction: column;

      .item-time-total {
        display: block;
        position: unset;
        font-size: 1.25rem;
      }
    }
  }


}
