<div class="session-wrapper" *ngIf="session">
  <div class="content-inner session-item" [ngClass]="{'active':session.isDetail}"
  (click)="session.isDetail?detailFn.emit(session):''">
    <div class="lt">
      <div class="title">
        <span *ngIf="session.title">{{session.title}}</span>
      </div>
      <div class="rateable">
        {{session.isRateable?'RATING':''}}
      </div>
    </div>
    <div class="rt">
      <div class="category" *ngIf="session.category">
        {{session.category.categoryName}}
      </div>

      <div class="room" *ngIf="session.room">
        <span *ngIf="session.track && session.track.trackName">{{session.track.trackName}}</span>
      </div>

      <div class="sub-title" *ngIf="session.subTitle" [innerHTML]="session.subTitle" [ngClass]="{'active':session.isDetail}">
      </div>

      <div class="description" *ngIf="session.description" [innerHTML]="session.description">
      </div>

      <div class="chair" *ngIf="session.chairs && session.chairs.length">
        Chair:
        <span *ngFor="let chair of session.chairs;let i = index">
          {{chair.name}}<span *ngIf="session.chairs[i+1]">,</span>
        </span>
      </div>

      <div class="organizers" *ngIf="session.organizers && session.organizers.length">
        Organizers:
        <span *ngFor="let organizer of session.organizers;let i = index">
          {{organizer.name}}<span *ngIf="session.organizers[i+1]">,</span>
        </span>
      </div>

      <div class="organizers" *ngIf="session.speakers && session.speakers.length">
        {{session.speakers.length>1?"Chairs":"Chair"}}:
        <ng-container *ngIf="session.id === '5fa8ea1ec8a27b001241f329'; else elseTemplate">
          <span>
            {{session.speakers[1].fullName}}, {{session.speakers[0].fullName}}
          </span>
        </ng-container>
        <ng-template #elseTemplate>
          <span *ngFor="let speaker of session.speakers;let i = index">
            {{speaker.fullName}}<span *ngIf="session.speakers[i+1]">,</span>
          </span>
        </ng-template>

      </div>

      <div class="lectures" *ngIf="session.lectures && session.lectures.length">
        <app-program-vod *ngFor="let lecture of session.lectures" [vod]="lecture"></app-program-vod>
      </div>

    </div>
  </div>
</div>
