<!--  !---------------------------Publish START--------------------------- -->
<div class="sponsors">
  <div class="section_1">
    <div class="platinum_banner position_default"></div>
    <div class="position_default lg_wrap">
      <div class="platinum_booth_1 lg_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b48a8f8b0f9a00128aecf5')"
        ></div>
    </div>
    <div class="platinum_left_flag position_default"></div>
    <div class="platinum_right_flag position_default"></div>
  </div>
  <div class="section_2">
    <div class="silver_banner position_default"></div>
    <div class="silver_set_1 position_default md_wrap">
      <div class="silver_booth_1 md_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('60b861638b0f9a00128aef53')"></div>
    </div>
    <div class="silver_set_2 position_default md_wrap">
      <div class="silver_booth_2 md_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60bde6f55dbffb00165776f0')"
        ></div>
      <div class="silver_booth_3 md_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60bdde8e5dbffb00165776e3')"></div>
    </div>
  </div>
  <div class="section_3">
    <div class="angel_banner position_default"></div>
    <div class="angel_set_1 xs_wrap position_default">
      <div class="angel_booth_1 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b985a68b0f9a00128aeffe')"></div>
      <div class="angel_booth_2 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b48c278b0f9a00128aecf8')"></div>
      <div class="angel_booth_3 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b48bbe8b0f9a00128aecf7')"></div>
    </div>
    <div class="angel_set_2 xs_wrap position_default">
      <div class="angel_booth_4 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b48c888b0f9a00128aecf9')"></div>
      <div class="angel_booth_6 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60bdc7945dbffb00165776b6')"></div>
      <div class="angel_booth_7 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b49ee48b0f9a00128aed59')"></div>
    </div>
    <div class="angel_set_3 xs_wrap position_default">
      <div class="angel_booth_8 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b9dd59c5f94e0013e2703e')"></div>
      <div class="angel_booth_9 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b9de03c5f94e0013e27044')"></div>
      <div class="angel_booth_10 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b9dc94c5f94e0013e27038')"></div>
    </div>
    <div class="angel_set_4 xs_wrap position_default">
      <div class="angel_booth_11 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60bed60c5dbffb0016577732')"></div>
      <div class="angel_booth_12 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60bde4e65dbffb00165776e8')"></div>
      <div class="angel_booth_13 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60bdc61a5dbffb00165776ac')"></div>
    </div>
    <!-- <div class="angel_set_5 xs_wrap position_default">
    </div> -->
  </div>
  <div class="section_4">
    <div class="general_banner position_default"></div>
    <div class="general_set xs_wrap position_default">
      <div class="general_booth_1 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b9d254c5f94e0013e2702e')"></div>
      <div class="general_booth_2 xs_booth" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetailV2('60b9cdb9c5f94e0013e27025')"></div>
    </div>
  </div>
</div>

<!-- ! ---------------------------Publish END--------------------------- -->
<!-- <article>
  <div class="list-wrapper row m-0">
    <div class="list-item px-3" *ngFor="let booth of categories2">
      <div class="sponsor-wrapper" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2(booth.id)">
        <figure>
          <div class="image-wrapper">
            <img [src]="booth.photoUrl" [alt]="booth.name">
          </div>
        </figure>
      </div>
    </div>
  </div>
</article> -->

<!-- <div class="my-page-inner stamp-tour" *ngIf="user && user.isStamp">
  <h3 class="text-center stamp-tour-title">STAMP TOUR CHECK LIST</h3>
  <div class="info-inner">
    <div class="stamp-list row m-0">
      <ng-container *ngFor="let booth of boothsOfStamp">
        <div class="stamp-item px-1" [ngClass]="{'opacity': booth.visit, 'visited':booth.visit}">
          <img class="spon-logo" [ngClass]="{'opacity': booth.visit}" [src]="booth.photoUrl" [alt]="booth.name">
          <img *ngIf="booth.visit" class="stamp-icon" src="assets/img/e-booth/imgs/stamp.png" alt="스탬프이미지">
        </div>
      </ng-container>
    </div>
  </div>
</div> -->

<!-- ! e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl+'?'+random || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments.length">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_self" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! 당첨 모달 버튼 -->
<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- ! 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            스탬프투어가 완료되었습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>
