<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper mb-0">
        <h2 class="vod">Video On Demand<br class="d-block d-sm-none">
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner" *ngIf="originVod">
        <ng-container *ngIf="vod">
          <app-player-vod [content]="vod" [vodId]="vodId" (openQuiz)="quizNoticeModal()"></app-player-vod>
        </ng-container>

        <div class="vod-bottom">
          <div class="vod-info">
            <div class="vod-title">
              {{originVod.title}}
            </div>
            <div class="vod-desc">
              {{originVod.description}}
            </div>
          </div>
          <!-- <div class="vod-quiz">
            <button class="btn btn-primary" *ngIf="quizzes.length" (click)="openQuizModal(false)">QUIZ</button>
          </div> -->
        </div>

        <div class="banners-wrapper" *ngIf="banners.length">
          <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
            <img src="assets/img/ic_dropdown_class_up.png">
          </div>
          <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="6" [animationSpeed]="2"
            [images]="banners" [imageSize]="{ width: slideItemW, height: 87, space: 0 }" [manageImageRatio]="true"
            [showArrow]="false" (imageClick)="imageClick($event)">
          </ng-image-slider>
          <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
            <img src="assets/img/ic_dropdown_class_up.png">
          </div>
        </div>

        <!-- ! 댓글 -->
        <div class="vod-detail-comments-wrapper" *ngIf="selectedVod.comments">
          댓글 {{ selectedVod.comments.count }}
          <!-- ! 새 댓글 -->
          <!-- <div class="new-input-wrapper">
            <textarea class="new-input" type="text" placeholder="질문을 남겨주세요." [(ngModel)]="newInput"
              style="min-height: 54px;" autosize>
            </textarea>
            <button class="btn btn-primary" (click)="createComment()">등록</button>
          </div> -->
          <div *ngIf="!selectedVod.comments.commentList.length; else commentList">
            <!-- 댓글이 없습니다. -->
          </div>
          <ng-template #commentList>
            <hr class="comment-headline">
            <ng-container *ngFor="let comment of selectedVod.comments.commentList">
              <!-- 부모 댓글 List -->
              <div class="comment-wrapper">
                <div class="comment-header">
                  <div class="comment-name" [ngClass]="{'my-comment': comment.memberId === user.id}">
                    {{comment.memberName}}
                  </div>

                  <div class="dropdown" *ngIf="!isModify('pInput_'+comment.id) && user && user.id === comment.memberId">
                    <button class="dropdown_button" type="button" [id]="'pDrop_'+comment.id" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path
                          d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                      </svg>
                    </button>
                    <div class="dropdown-menu" [attr.aria-label]="'pDrop_'+comment.id">
                      <button class="dropdown-item" type="button" (click)="modify('pInput_'+comment.id)">수정</button>
                      <button class="dropdown-item" type="button" *ngIf="!comment.children.length"
                        (click)="remove(comment.id)">삭제</button>
                    </div>
                  </div>

                  <div *ngIf="isModify('pInput_'+comment.id)" class="cancel-save">
                    <div (click)="cancel()">취소</div>
                    <div class="cancel-save-division">|</div>
                    <div (click)="update(comment.id, 'parent')">저장</div>
                  </div>
                </div>

                <!-- ! 작성된 댓글 -->
                <div class="comment-body">
                  <textarea class="parent-textarea" [value]="comment.description" [disabled]="true"
                    [id]="'pInput_'+comment.id" autosize></textarea>
                </div>

                <div class="comment-date">
                  {{comment.createdAt | amDateFormat: 'yyyy.MM.DD HH:mm' }}
                </div>
                <div *ngIf="comment.level === 0 && user.isStamp" class="open-reply-wrapper">
                  <button (click)="openReply(comment.id)">답글</button>
                </div>
              </div>

              <!-- ! 새 답글 -->
              <div class="comment-wrapper cInputs-wrapper" [id]="'cInput_wrapper_'+comment.id">
                <textarea type="text" value="" [id]="'cInput_'+comment.id" autosize rows="1"></textarea>
                <button (click)="cancel()" class="btn-danger">취소</button>
                <button (click)="createComment(comment.id)">등록</button>
              </div>

              <!-- ! 답글 리스트 -->
              <ng-container *ngFor="let child of comment.children">
                <div class="comment-wrapper child-wrapper">
                  <span class="child-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                      class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
                    </svg>
                  </span>
                  <div class="comment-header">
                    <div class="comment-name" [ngClass]="{'my-comment': child.memberId === user.id}">
                      {{child.memberName}}
                    </div>

                    <div class="dropdown" *ngIf="!isModify('cInput_'+child.id) && user && user.id === child.memberId">
                      <button class="dropdown_button" type="button" [id]="'cDrop_'+child.id" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                          <path
                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                      </button>
                      <div class="dropdown-menu" [attr.aria-label]="'cDrop_'+child.id">
                        <button class="dropdown-item" type="button" (click)="modify('cInput_'+child.id)">수정</button>
                        <button class="dropdown-item" type="button" (click)="remove(child.id)">삭제</button>
                      </div>
                    </div>

                    <div *ngIf="isModify('cInput_'+child.id)" class="cancel-save">
                      <div (click)="cancel()">
                        취소
                      </div>
                      <div class="cancel-save-division">|</div>
                      <div (click)="update(child.id, 'child')">
                        저장
                      </div>
                    </div>
                  </div>
                  <!-- ! 작성된 답글 -->
                  <div class="comment-body">
                    <textarea class="child-textarea" [value]="child.description" [disabled]="true"
                      [id]="'cInput_'+child.id" autosize>
                    </textarea>
                  </div>
                  <div class="comment-date">
                    {{child.createdAt | amDateFormat: 'yyyy.MM.DD HH:mm' }}
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-template>
        </div>


        <div class="back-to-list">
          <button (click)="goBack()">BACK TO LIST</button>
        </div>
      </div>
    </article>
  </div>
</div>

<!-- 퀴즈 모달 -->
<div class="modal fade quiz-modal" id="quizModal" data-backdrop="static" role="dialog" aria-labelledby="quizModal"
  tabindex="-1" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0" *ngIf="selectedAnswers">
        <div class="modal-title text-center quiz-text">
          QUIZ
          <!-- <span class="icon-left quiz-previous" aria-hidden="true" *ngIf="currentQuizTab > 0"
            (click)="previousQuiz()"></span> -->
          <div class="quiz-length">{{(currentQuizTab +1 )}}/{{quizzes.length}}문항</div>
        </div>

        <div class="modal-quiz-title">
          Q. <span [innerHTML]="quizzes[currentQuizTab].title"></span>
        </div>

        <div class="modal-quiz-content">
          <span *ngFor="let example of quizzes[currentQuizTab].quizContent; let i = index" class="quiz-item">
            <ng-container *ngIf="isSingleCorrect; else SingleAnswer">
              <input type="radio" [id]="example.title" name="single-example" [(ngModel)]="selectedSingleAnswer"
                [value]="i" [disabled]="!beforeSubmit">
            </ng-container>
            <ng-template #SingleAnswer>
              <input type="checkbox" [id]="example.title" [(ngModel)]="selectedAnswers[i]" [disabled]="!beforeSubmit">
            </ng-template>
            <label for="{{example.title}}">
              {{example.title}}
            </label>
          </span>
        </div>

        <!-- <div class="modal-quiz-correct"> -->
        <!-- <div>{{currentCorrect && !beforeSubmit?'정답: '+currentCorrect : '' }}</div> -->
        <!-- </div> -->
        <div class="modal-quiz-footer">
          <button class="btn-danger" (click)="closeQuiz()">
            닫기
          </button>
          <button class="btn-primary" *ngIf="beforeSubmit" (click)="submitQuiz()">
            확인
          </button>
          <!-- <button class="btn-warning" *ngIf="!isCorrect && !beforeSubmit" (click)="resetQuiz()">
            다시풀기
          </button> -->
          <button
            [ngClass]="{'btn-primary':currentQuizTab + 1 !== quizzes.length, 'btn-success':currentQuizTab + 1 === quizzes.length}"
            [ngStyle]="{'display': beforeSubmit?'none':'block' }"
            (click)="nextQuiz()">{{currentQuizTab + 1 === quizzes.length?'제출':'다음'}}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>



<button #quizNoticeBtn class="quiz-notice-btn" data-toggle="modal" data-target="#quizNoticeAlert">
  quizNoticeBtn
</button>

<!-- Entry modal -->
<div class="modal quiz-notice fade" id="quizNoticeAlert" data-backdrop="static" role="dialog"
  aria-labelledby="quizNoticeAlert" tabindex="-1" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">• 대한내과학회 분과 평점을 취득하기위해선 문제풀이를 60점 이상이 되야 합니다.
        </div>
        <div class="modal-description">
          <p class="mb-2 text-left">
            [대한내과학회 분과전문의 평점 : 최대 6점]<br>
            시청을 완료하신 강의에 해당하는 퀴즈에 대한 정답을 제출한 후, 정답률 60% 이상 시 분과전문의 평점이 인정됩니다.<br><br>
            - 1시간 미만: 0평점<br>
            - 이수시간 1시간 이상 2시간 미만 + 정답률 60% 이상: 1평점<br>
            - 이수시간 2시간 이상 3시간 미만 + 정답률 60% 이상: 2평점<br>
            - 이수시간 3시간 이상 4시간 미만 + 정답률 60% 이상: 3평점<br>
            - 이수시간 4시간 이상 5시간 미만 + 정답률 60% 이상: 4평점<br>
            - 이수시간 5시간 이상 6시간 미만 + 정답률 60% 이상: 5평점<br>
            - 이수시간 6시간 이상 + 정답률 60% 이상: 6평점<br><br>
            • 문제풀기 도중 [닫기] 버튼을 누르시면, 처음부터 다시 문제를 푸셔야합니다.<br>
            • 마지막 문제까지 푸신 후, 반드시 [제출] 버튼을 클릭 하셔야 기록이 남습니다.<br>
            • 제출된 문제 결과는 My Page에서 확인이 가능하며, 제출된 문제는 다시 푸실 수 있습니다.<br>
            • 제출된 문제는 여러 번 제출하셔도 마지막에 제출하신 값이 최종 My Page에 기록됩니다.<br>
            • 하단의 [확인] 버튼을 클릭하시면, 문제풀이가 시작됩니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#quizNoticeAlert"
          (click)="openQuizModal(true)">
          확인
        </button>
      </div>
    </div>
  </div>
</div>

<button #quizWarningBtn class="quiz-notice-btn" data-toggle="modal" data-target="#quizWarningAlert2">
  quizWarning
</button>

<!-- Entry modal -->
<div class="modal quiz-notice fade" id="quizWarningAlert2" data-backdrop="static" role="dialog"
  aria-labelledby="quizWarningAlert2" tabindex="-1" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description warning-alert">
          <p class="mb-2 text-left">
            아래와 같은 경우로 강의시청시점이 초기화 되는 경우가 있으니,
            이점 유의하여 시청환경을 조성해주시길 바랍니다.
          </p>
          <p class="mb-2 text-left text-danger">
            1. 시청 중 브라우저를 끄시는 경우<br>
            2. 불안정한 인터넷환경에서 시청 중인 경우<br>
            3. 동시 접속 (중복로그인)으로 인해 차단된 경우<br>
          </p>
          <p class="mb-2 text-left text-primary">
            * 시청기기 변경 시 반드시 듣고 계신 강의를 다 듣고, 로그아웃 하신 뒤
            변경 기기에 로그인 하시면 됩니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#quizWarningAlert2">
          확인
        </button>
      </div>
    </div>
  </div>
</div>

<button #endEventBtn class="quiz-notice-btn" data-toggle="modal" data-target="#endEventAlert">
  endEvent
</button>

<!-- Entry modal -->
<div class="modal quiz-notice fade" id="endEventAlert" data-backdrop="static" role="dialog"
  aria-labelledby="endEventAlert" tabindex="-1" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description warning-alert">
          <p class="mb-2 text-center">
            방송이 종료되었습니다
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#endEventAlert"
          (click)="goBack()">
          확인
        </button>
      </div>
    </div>
  </div>
</div>
